

.FooterContent {
  &MainContainer {
    width: 100%;
    background-color: #00a0b9;
    bottom: 0;
    position: absolute;
  }

  &SecondaryContainer {
    
  }
  
  &FirstRow {
    @include container-width-limit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
    background-color: #00a0b9;
  }

  &Contact {
  }

  &LinkedinImg {
  }

  &SecondRow {
    @include flex-center;
    width: 100%;
    background-color: #09798a;
  }
}
