.taskOverview {
  &MainContainer {
    background-color: #b3cdd1;
    border-radius: 6px;
    padding: $spacing-s;
    &:hover{
      background-color: $primary-color-dark;
    }
  }

  &StatusAndDateContent {
    display: flex;
    align-items: center;
  }

  &StatusBox {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &StatusDot {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: green;
  }

  &Date {
    margin-right: 16px;
  }
}
