.taskContainer{
  &MainContainer{
    background-color: #EFEFEF;
    height: 94%;
    width: 100%;
    padding: $spacing-m 9px;
    border-radius: 6px;
    overflow-y: auto;
  }
}


body.dark-mode {
  .taskContainerMainContainer{
    background-color: #606060;
  }
  
}
