.allTasks {
  &MainContainer {
    height: 100%;
    padding-inline: 16px;
    .taskContainerMainContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
    }
  }
}
