// Cores
$primary-color: #b3cdd1;
$secondary-color: #d5e87f;
$background-color: #fff;
$text-color: #343434;
$light-gray: #ecf0f1;

$button-primary-color: #d5e87f;
$button-primary-hover: #bbcd6c;

$link-primary-hover: #87954b;

$modal-background-shadow: hsla(0, 0%, 0%, 0.36);

// Tipografia
$font-family-base: 'Arial', sans-serif;
$font-size-m: 16px;
$font-size-l: 24px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xxs: 10px;

// Espaçamento
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;

// Z-index
$z-index-header: 10;
$z-index-modal: 15;
$z-index-overlay: 12;
