// Cores
$primary-color: #b3cdd1;
$primary-color-dark: #8badb2;
$secondary-color: #d5e87f;
$background-color: #fff;
$text-color: #343434;
$light-gray: #b8b8b8;

// DarkTheme
$background-color-dark:#474343;

// Cores para botões
$button-primary-color: #d5e87f;
$button-primary-hover: #bbcd6c;

$button-warning-color: #cbaa26;
$button-warning-hover: #a58a1c;

$button-Dungeon-color: #cb2626;
$button-Dungeon-hover: #a51c1c;

$button-toggle-color: #4BA1B7;

// Cores para links
$link-primary-hover: #87954b;

//Cores de status
$status-color-Open: #140096;
$status-color-Completed: #2d8c52;
$status-color-ToDo: #9f68fe;
$status-color-InProgress: #fece68;
$status-color-Cancelled: #bd1b1b;

// Cores para sombras
$modal-background-shadow: hsla(0, 0%, 0%, 0.36);

// Tipografia
$main-font: 'Arial', sans-serif;

$font-size-m: 16px;
$font-size-l: 24px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xxs: 10px;

// Espaçamento
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;

// Z-index
$z-index-header: 10;
$z-index-modal: 15;
$z-index-overlay: 12;
